{{extend 'layout.html'}}

<b>Jednotlivé volby MENU odpovídají bodům postupu:</b>
<ul>
    <li>Načti aktuálně používaný config.js.</li>
    <li>Je-li to potřeba, přidej položky do číselníků baselayers, datatypes, ekosystemtypes.</li>
    <li>Přidej místa nebo kampaně.</li>
    <li>Stáhni si nový config.js</li>
</ul>

<h2>Najdi a načti konfigurační soubor config.js</h2>

{{=form}}

<p>Pokračováním <b>budou smazány všechny starší tabulky</b> s obsahem konfigurace(places, campaigns, datasets)
    i číselníky (baselayers, datatypes, ekosystemtypes).</p>

<p><b>Pokračuj jen tehdy, pokud jsi už využil provedené změny</b>
    (a sice typicky stažením pozměněného konfiguračního souboru, který chceš nyní znova naimportovat).</p>
