{{extend 'layout.html'}}

{{=msg[0]}}

{{=form}}

{{=msg[1]}}

<script>
    //$('textarea').attr('disabled', 'disabled');

    module = {};
    {{=XML(js)}}

    var dt = JSON.stringify(cgcfg.dataTypes);
    var et = JSON.stringify(cgcfg.ekosystemTypes);
    var pl = JSON.stringify(cgcfg.places);

    $('#no_table_baselayers').val(cgcfg.baseLayers);
    $('#no_table_datatypes').val(dt);
    $('#no_table_ekosystemtypes').val(et);
    $('#no_table_places').val(pl);

    $('input[name="JSONbaselayers"]').val(JSON.stringify(cgcfg.baseLayers));
    $('input[name="JSONdatatypes"]').val(dt);
    $('input[name="JSONekosystemtypes"]').val(et);
    $('input[name="JSONplaces"]').val(pl);

    $('#no_table_baselayers')[0].rows = 2;
    $('#no_table_datatypes')[0].rows = 3;
    $('#no_table_ekosystemtypes')[0].rows = 3;
</script>
