{{extend 'layout.html'}}

{{=form}}

<p><a href="{{=URL('nacti')}}" class="btn btn-link">opakovat vyhledání a načtení konfiguračního souboru config.js</a></p>

<script>
    {{=XML(js)}}

    var dt = JSON.stringify(cg.config.dataTypes);
    var et = JSON.stringify(cg.config.ekosystemTypes);
    var pl = JSON.stringify(cg.config.places);

    $('#no_table_baselayers').val(cg.config.baseLayers);
    $('#no_table_datatypes').val(dt);
    $('#no_table_ekosystemtypes').val(et);
    $('#no_table_places').val(pl);

    $('input[name="JSONbaselayers"]').val(JSON.stringify(cg.config.baseLayers));
    $('input[name="JSONdatatypes"]').val(dt);
    $('input[name="JSONekosystemtypes"]').val(et);
    $('input[name="JSONplaces"]').val(pl);


    $('#no_table_baselayers')[0].rows = 2;
    $('#no_table_datatypes')[0].rows = 3;
    $('#no_table_ekosystemtypes')[0].rows = 3;
</script>
