{{extend 'layout.html'}}

<div class="alert alert-info">
    <b>Jednotlivé volby MENU odpovídají bodům postupu:</b>
    <ul>
        <li><b>Načti</b> aktuálně používaný config.js.</li>
        <li>Je-li to potřeba, přidej položky do <b>číselníků</b> baselayers, datatypes, ekosystemtypes.</li>
        <li>Přidej <b>místa nebo kampaně.</b></li>
        <li><b>Výsledek:</b> Stáhni si nový config.js.</li>
    </ul>
</div>

<h2>Najdi a načti konfigurační soubor config.js</h2>

<div class="well well-lg">{{=form}}</div>

<div class="alert alert-warning">
    <p>Pokračováním <b>budou smazány všechny starší tabulky</b> s obsahem konfigurace (places, campaigns, datasets)
        i číselníky (baselayers, datatypes, ekosystemtypes).</p>

    <p><b>Pokračuj proto jen tehdy, pokud jsi už využil provedené změny</b>
        (stažením pozměněného konfiguračního souboru).</p>
</div>