
{{extend 'layout.html'}}

<script>
    var w2p_ajax_datetime_format = "%d.%m.%Y %H:%M";
</script>

{{if len(request.args) <= 1:}}
    <div class="alert alert-info">[+] přidá novou položku. --- Editace položek pomocí (prostřední) ikony pro editaci. --- Přehled a editace kampaní a datasetů pomocí odkazů 'campaigns', 'datasets'.</div>
{{pass}}

<div class="well well-lg">{{=grid}}</div>

<script>
    $('#w2p_query_panel').remove();
    $('label').css('text-align', 'right');

    $('#datasets_datatypes_id').change(function() {
        show_datatypes_derrived();
    });

    $(document).ready(function() {
        show_datatypes_derrived();
    });

    function show_datatypes_derrived() {
        var key, keyend, fld, fldid, derrived, datatypes_derrived = {};
        $('.form-control').each(function(i, control) {
            if (control.id.substr(0, 22) === "datasets_dt_children__") {
                fld = control.id.substr(22);
                keyend = fld.indexOf('_');
                if (keyend > 0) {
                    key = fld.substr(0, keyend);
                    if (datatypes_derrived[key]) {
                        datatypes_derrived[key].push(fld);
                    } else {
                        datatypes_derrived[key] = [fld];
                    }
                }
            }
        });   // datatypes_derrived = {hyper: ['hyper_vnir_cs', 'hyper_vnir_en', ..], termo: [...]}
        $('#datasets_datatypes_id option').each(function(i, option) {
            derrived = datatypes_derrived[option.text];
            if (derrived) {
                for (var j = 0; j < derrived.length; j++) {
                    fldid = 'datasets_dt_children__' + derrived[j];
                    if (option.selected) {
                        $('#' + fldid).parent().parent().show();
                    } else {
                        $('#' + fldid).parent().parent().hide();
                    }
                }
            }
        });
    }
</script>
