{{extend 'layout.html'}}

{{if problems:}}
    <div class="alert alert-warning">
        <ul><b>Místa, která nemají alespoň jednu kampaň a ke každé kampani alespoň jeden dataset, nebudou exportována:</b>
            {{for problem in problems:}}
                <li><i>{{=problem.id}}</i> - {{=problem.ptitlecs}}</li>
            {{pass}}
        </ul>
    </div>
{{else:}}
    <div class="alert alert-success">
        <p>Každé místo má alespoň jednu kampaň a ke každé kampani alespoň jeden dataset.</p>
        <p>OK. Všechna místa budou exportována.</p>
    </div>
{{pass}}

<div class="alert alert-info">
    {{dds = A("Deaktivované datasety", _href=URL('not_shown'))}}
    {{ddscnt = '(%s)' % hidden}}
    {{if bk:}}
        <p>Stažení PRO ZÁLOHU.</p>
        <p>{{=dds}} {{=ddscnt}} budou exportovány se speciálním příznakem (soubor nebude čitelný pro mapserver).</p>
    {{else:}}
        <p>Stažení PRO MAPSERVER.</p>
        <p>{{=dds}} {{=ddscnt}} nebudou exportovány.</p>
    {{pass}}
    <p>{{="Bude exportováno %s datasetů." % cnt}}</p>
</div>

<p><div class="btn-group">
    {{bkqueried = 'bk' if bk else ''}}
    <a href="{{=URL('exportjs', 'stahni2', args=bkqueried)}}?attachment" class="btn btn-primary">
        Stáhni / Ulož config.js - pro {{if bk:}}zálohu{{else:}}mapserver{{pass}}
    </a>
    <a href="{{=URL('places')}}" class="btn btn-link">Zpět (Místa a kampaně)</a>
</div></p>
